<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <script async th:src="@{'https://www.googletagmanager.com/gtag/js?id=' + ${@environment.getProperty('google.analytics.tracking-id')}}"></script>
    <script th:inline="javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', /*[[${@environment.getProperty('google.analytics.tracking-id')}]]*/);
    </script>

    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="header">
    <div class="container" style="width: 100%; height: 50px; display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: flex-end;">
        <div style="width: 100px; height: 40px;">
            <a th:href="@{/}">
                <img th:src="@{/imgs/mygg.png}" alt="logo" style="width:100%; height:100%; object-fit: contain;">
            </a>
        </div>
        <form method="get" th:action="@{/kr/search}" style="width: 500px; height: 40px; display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: center;">
            <div style="width: 430px; height: 30px;">
                <input class="form-control" type="text" name="query" th:value="${param.query}" placeholder="플레이어 검색" style="width: 100%; height: 30px;">
            </div>
            <div style="width: 60px; height: 30px;">
                <button class="btn btn-outline-primary" type="submit" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; border: none; background-color: #55585c; color: white; font-size: 14px; font-weight: 400;">검색</button>
            </div>
        </form>
    </div>
</div>

<div th:fragment="navbar">
    <div style="width: 100%; height: 40px; background-color: #454a4b; display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 6px;border-bottom: solid 1px rgba(0, 0, 0, 0.17); border-top: solid 1px rgba(0, 0, 0, 0.17);">
        <div style="width: 960px; height: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
            <div th:onclick="|location.href='@{/}'|" class="nav-item" style="width: 80px; height: 100%; color: white; font-size: 14px; font-weight: 600; display: flex; flex-direction: row; justify-content: center; align-items: center; border-left: solid 1px rgba(0, 0, 0, 0.17); border-right: solid 1px rgba(0, 0, 0, 0.17); cursor: pointer;">
                <span>홈</span>
            </div>
            <div th:onclick="|location.href='@{/champion/stats}'|" class="nav-item" style="width: 160px; height: 100%; color: white; font-size: 14px; font-weight: 600; display: flex; flex-direction: row; justify-content: center; align-items: center; border-left: solid 1px rgba(0, 0, 0, 0.17); border-right: solid 1px rgba(0, 0, 0, 0.17); cursor: pointer;">
                <span>챔피언 분석</span>
            </div>
            <div th:onclick="|location.href='@{/leagueList/kr}'|" class="nav-item" style="width: 160px; height: 100%; color: white; font-size: 14px; font-weight: 600; display: flex; flex-direction: row; justify-content: center; align-items: center; border-left: solid 1px rgba(0, 0, 0, 0.17); border-right: solid 1px rgba(0, 0, 0, 0.17); cursor: pointer;">
                <span>소환사 랭킹</span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="leagueList(leagueItemList, title, subTitle)">
    <div th:onclick="|location.href='@{/leagueList/kr}'|" style="width: 100%; height: 30px; font-size: 14px; font-weight: 400; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; border-bottom: 1px solid #e0e0e0; cursor: pointer;">
        <span th:text="${title}">league</span>
        <span th:text="${'&nbsp;- ' + subTitle}" style="font-size: 12px; font-weight: 500;">subTitle</span>
    </div>
    <div class="entry-item" th:each="entry : ${leagueItemList}" th:onclick="|location.href='@{/kr/search(query=${entry.gameName + '#' + entry.tagLine})}'|" style="width: 100%; height: 45px; font-size: 14px; font-weight: 400; display: flex; flex-direction: row; justify-content: space-around; align-items: center; cursor: pointer;">
        <div style="width: 35px; height: 35px;">
            <img th:src="@{/image/profile/{iconId}(iconId=${entry.profileIconId})}" style="width: 100%; height: 100%; border-radius: 8px;">
        </div>
        <div style="width: 150px; height: 35px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; padding-left: 4px; font-size: 14px; font-weight: 400;">
            <span th:text="${entry.getGameName() + '#' + entry.getTagLine()}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline;"></span>
        </div>
        <div style="width: 100px; height: 35px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; padding-left: 4px; font-size: 14px; font-weight: 400; gap: 3px;">
            <div th:each="championMastery : ${entry.championMasteryList}" style="width: 30px; height: 30px;">
                <div style="width: 100%; height: 30px;">
                    <img th:src="@{/image/champion/{championId}(championId=${championMastery.championId})}" style="width: 100%; height: 100%; border-radius: 8px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="rankingList(list, title, subTitle)">
    <div style="width: 100%; min-height: 30px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; border-bottom: 1px solid #777070; padding-left: 6px;">
        <span th:text="${title}" style="font-size: 16px; font-weight: 700;">title</span>
        <span th:text="${'&nbsp;- ' + subTitle}" style="font-size: 12px; font-weight: 500;">subtitle</span>
    </div>
    <div style="width: 100%; height: 280px; display: flex; flex-direction: column; overflow-y: auto;">
        <div style="width: 100%; height: 30px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 6px; border-bottom: 1px solid #777070;">
            <div style="width: 132px; display: flex; flex-direction: row; justify-content: center; align-items: center;">챔피언</div>
            <div style="width: 75px; display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px;">전체 경기 수</div>
            <div style="width: 60px; display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 14px;">현재 승률</div>
            <div style="width: 70px; display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 14px;">전 승률</div>
            <div style="width: 70px; display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 14px;">승률 차이</div>
        </div>
        <div class="rank-item" th:each="rank : ${list}" th:onclick="|location.href='@{/champion/{championId}(championId=${rank.championId})}'|" style="width: 100%; min-height: 40px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; padding-left: 6px; gap: 6px; cursor: pointer;">
            <div style="width: 35px; height: 35px;">
                <img th:src="@{/image/champion/{championId}(championId=${rank.championId})}" style="width: 100%; height: 100%; border-radius: 8px;">
            </div>
            <div th:text="${rank.championName}" style="width: 85px; min-height: 40px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"></div>
            <div th:text="${rank.totalGames}" style="width: 75px; display: flex; flex-direction: row; justify-content: center; align-items: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"></div>
            <div style="width: 60px; display: flex; flex-direction: row; justify-content: center; align-items: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                <span th:text="${rank.winRate}" style="font-size: 15px; font-weight: 700;"></span>
                <span style="font-size: 12px; font-weight: 400;">(%)</span>
            </div>
            <div style="width: 70px; display: flex; flex-direction: row; justify-content: center; align-items: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                <span th:text="${rank.winRatePrev}" style="font-size: 15px; font-weight: 500;"></span>
                <span style="font-size: 12px; font-weight: 400;">(%)</span>
            </div>
            <div style="width: 80px; display: flex; flex-direction: row; justify-content: center; align-items: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            <span th:text="${rank.winRateDiff >= 0}
                                          ? '+' + ${rank.winRateDiff}
                                          : ${rank.winRateDiff}"
                                  th:style="'font-size: 15px; font-weight: 700; ' +
                                          ('color:' + (${rank.winRateDiff} >= 0 ? '#6f9b66' : '#9f1a1d'))">
                            </span>
                <span style="font-size: 12px; font-weight: 400;">(%p)</span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="rotationChampions(rotationChampions, title)">
    <div style="width: 100%; height: 30px; border-top-left-radius: 8px; border-top-right-radius: 8px; line-height: 30px; font-size: 15px; font-weight: 600; background-color: #e9ebef; padding-left: 8px;">
        <span th:text="${title}"></span>
    </div>
    <div style="width: 100%; min-height: 30px; background-color: #e9ebef; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; font-size: 15px; font-weight: 600; gap: 6px; flex-wrap: wrap; padding: 8px;">
        <div class="rotation-item" th:each="champion : ${rotationChampions}" th:onclick="|location.href='@{/champion/{championId}(championId=${champion.key})}'|" style="width: 90px; min-height: 90px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; cursor: pointer; border-radius: 10px;">
            <div style="width: 100%; height: 90px;">
                <img th:src="@{/image/champion/{championId}(championId=${champion.key})}" style="width: 100%; height: 100%; border-radius: 10px;">
            </div>
            <div th:text="${champion.id}" style="width: 100%; height: 20px; display: flex; justify-content: center; align-items: center; font-size: 14px;">
            </div>
        </div>
    </div>
</div>

<div th:fragment="recentSearch(recentSearchList)">
    <div style="width: 100%; height: 30px; font-size: 14px; font-weight: 400; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; border-bottom: 1px solid #e0e0e0;">
        <span>최근 검색</span>
    </div>
    <div th:each="recentSearch : ${recentSearchList}" style="width: 100%; height: 30px; font-size: 14px; font-weight: 400; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
        <div th:text="${recentSearch}" th:onclick="|location.href='@{/kr/search(query=${recentSearch})}'|" style="cursor: pointer;" ></div>
    </div>
</div>

<div th:fragment="rank(leagueEntry, title)">
    <div style="width:380px; height:100%; display:flex; align-items:center; gap:10px;">
        <th:block th:with="leauge=${leagueEntry}">
            <div style="width:150px; height:150px;">
                <img th:if="${!#lists.isEmpty(leauge)}"
                     th:src="@{|/imgs/tier/Rank_${leauge[0].tier}.png|}"
                     style="width:100%; height:100%; border-radius:10px;"/>
                <img th:if="${#lists.isEmpty(leauge)}"
                     th:src="@{/imgs/bri_ques.png}"
                     style="width:100%; height:100%; border-radius:10px;"/>
            </div>

            <div style="width:210px; height:150px; display:flex; flex-direction:column; justify-content:space-evenly;">
                <div style="font-size:14px; font-weight:600;">
                    <span style="font-size: 12px; font-weight: 400;" th:text="${title}"></span><br/>
                    <span th:if="${#lists.isEmpty(leauge)}">정보없음</span>
                    <span th:if="${!#lists.isEmpty(leauge)}"
                          th:text="${leauge[0].tier + ' ' + leauge[0].rank}">TIER RANK</span><br/>
                    <span th:if="${!#lists.isEmpty(leauge)}"
                          th:text="${leauge[0].leaguePoints + ' LP'}">0 LP</span><br/>
                </div>

                <div style="font-size:14px; font-weight:600;"
                     th:with="wins=${!#lists.isEmpty(leauge) ? leauge[0].wins : 0}, losses=${!#lists.isEmpty(leauge) ? leauge[0].losses : 0},
                     total=${wins + losses}, winRate=${total > 0 ? T(java.lang.Math).round(wins * 100.0 / total) : 0}">
                    <span th:text="${!#lists.isEmpty(leauge) ? (total + '전 ' + wins + '승 ' + losses + '패 (' + winRate + '%)') : '정보없음'}">
                        정보없음
                    </span>
                </div>
            </div>
        </th:block>
    </div>
</div>

<div th:fragment="matchItems(matches, puuid)">
    <div th:each="match : ${matches}"
         th:classappend="${match.win} ? ' win-match' : ' lose-match'"
         class="match-item" style="width: 100%; height: 80px; display: flex; flex-direction: row; padding: 5px;">
        <div style="width: 75px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin-right: 5px; border-right: 1px solid black;" >
            <span th:text="${match.win} ? '승리' : '패배'" style="font-size: 14px; font-weight: 600;"></span>
            <span th:text="${match.info.getQueueType()}" style="font-size: 12px; font-weight: 500;"></span>
        </div>

        <div class="my-champ" style="width: 70px; height: 70px; margin-right: 5px;">
            <img th:src="@{${match.championImgUrl}}"
                 th:alt="${match.getPlayer().getChampionName()}"
                 style="width:100%; height:100%; border-radius:10px;" />
        </div>

        <div style="width: 140px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black;">
            <span th:text="${match.kdaAvg}" style="width: 100%; height: 30px; display: flex; justify-content: center; align-items: end; font-size: 16px; font-weight: 600;">K/D/A Avg</span>
            <span th:text="${match.kda}" style="width: 100%; height: 30px; line-height: 30px; font-size: 16px; font-weight: 500;">K/D/A</span>
        </div>

        <div style="width: 140px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black;">
            <div class="participant-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center; margin-left:20px;">
                <img th:each="item, stat : ${match.player.getItemList()}"
                     th:if="${stat.index < 6}"
                     th:src="@{/image/item/{itemId}(itemId=${item})}"
                     th:alt="아이템"
                     class="item"
                     style="width: 30px; height: 30px; border-radius: 10px;"/>
            </div>
        </div>

        <div style="width: 40px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
            <div class="participant-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center; margin-left: 5px;">
                <img th:each="spell, stat : ${match.player.getSummonerIdList()}"
                     th:if="${stat.index < 2}"
                     th:src="@{/image/spell/{spellId}(spellId=*{spell})}"
                     th:alt="스펠"
                     class="item"
                     style="width: 30px; height: 30px; border-radius: 10px;"/>
            </div>
        </div>

        <div style="width: 210px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black;">
            <div class="participant-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center; margin-left:20px;">
                <img th:each="imgInfo, stat : ${match.participantChampionImgList}"
                     th:if="${stat.index < 10}"
                     th:src="@{${imgInfo.url}}"
                     th:alt="챔피언"
                     class="participant-champ"
                     th:classappend="${imgInfo.player}? ' player-highlight' : ''" style="width: 30px; height: 30px; border-radius: 10px;"/>
            </div>
        </div>

        <div style="width: 90px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black;">
            <div th:text="${'CS ' + match.player.totalMinionsKilled}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 400;" />
            <div th:text="${'Gold ' + match.player.getGoldEarned()}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 700;" />
            <div th:text="${'시야 ' + match.player.visionScore + '/' + match.player.visionWardsBoughtInGame}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 400;" />
        </div>

        <div style="width: 110px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black; border-right: 1px solid black; line-height: 70px;">
            <div th:text="|${T(java.lang.Math).floorDiv(match.info.gameDuration, 60)}분 ${T(java.lang.Math).floorMod(match.info.gameDuration, 60)}초|" style="width: 100%; height: 100%;"></div>
        </div>

        <div class="match-toggle" th:attr="data-match-id=${match.metadata.matchId}, data-puuid=${puuid}" style="">
            <span class="toggle-icon">&#9660;</span>
        </div>
    </div>
</div>

<div th:fragment="matchDetail(match)">
    <div class="match-detail">
        <div style="width: 100%; min-height: 250px; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
            <div style="width: 100%; min-height: 50px; background-color: white; display: flex; flex-direction: column; align-items: center; border: 1px solid #d7d8da;">
                <div class="match-participant" th:each="p : ${match.info.participants.?[teamId == 100]}" th:onclick="|location.href='@{/kr/search(query=${p.riotIdGameName + '#' + p.riotIdTagline})}'|" style="width: 100%; height: 50px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; border-bottom: 1px solid #d7d8da; cursor: pointer;">
                    <div style="width: 40px; height: 40px; border-radius: 4px; display: flex; align-items: center; justify-content: center; margin-left: 8px;">
                        <img th:src="@{/image/champion/{champ}(champ=${p.championId})}" th:alt="${p.championName}" style="width: 100%; height: 100%; border-radius: 4px;" />
                    </div>

                    <div th:text="${p.riotIdGameName}" style="width: 120px; height: 40px; display: flex; justify-content: center; align-items: center; text-align: center; font-size: 14px; cursor: pointer;">
                        아이디
                    </div>

                    <div style="width: 90px; height: 40px; display: flex; flex-direction: row; align-items: center; justify-content: center; text-align: center;">
                        <div class="participant-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center; margin-left: 5px;">
                            <img th:each="spell, stat : ${p.getSummonerIdList()}"
                                 th:if="${stat.index < 2}"
                                 th:src="@{/image/spell/{spellId}(spellId=*{spell})}"
                                 th:alt="스펠"
                                 class="item"
                                 style="width: 40px; height: 40px; border-radius: 3px;"/>
                        </div>
                    </div>

                    <div th:text="${p.champLevel}" style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; text-align: center; font-size: 14px;">
                        레벨
                    </div>

                    <div style="width: 80px; height: 40px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
                        <span th:text="${p.kdaAvg}" style="width: 100%; height: 35px; display: flex; justify-content: center; align-items: end; font-size: 16px; font-weight: 600;">K/D/A Avg</span>
                        <span th:text="${p.kda}" style="width: 100%; height: 35px; font-size: 14px; font-weight: 500;">K/D/A</span>
                    </div>

                    <div style="width: 240px; height: 40px; border-radius: 4px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <div class="item-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center;">
                            <img th:each="item, stat : ${p.getItemList()}"
                                 th:if="${stat.index < 6}"
                                 th:src="@{/image/item/{itemId}(itemId=${item})}"
                                 th:alt="아이템"
                                 class="item"
                                 style="width: 35px; height: 35px; border-radius: 10px;"/>
                        </div>
                    </div>

                    <div style="width: 90px; height: 40px; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; text-align: center;">
                        <div th:text="${'CS ' + p.totalMinionsKilled}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 400;" />
                        <div th:text="${'Gold ' + p.getGoldEarned()}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 700;" />
                    </div>

                    <div style="width: 100px; height: 40px; display: flex; flex-direction: column; gap: 3px; justify-content: center; align-items: center; text-align: center;">
                        <div th:text="${p.totalDamageDealtToChampions}" style="width: 100%; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            dealt
                        </div>
                        <div style="width: 80%; height: 15px; background: #eee; border-radius: 5px; overflow: hidden;">
                            <div th:style="'width:' + ${#numbers.formatDecimal(p.dealtPercent, 0, 0)} + '%; height:100%; height: 100%; background:#d33;'">
                            </div>
                        </div>
                    </div>
                    <div style="width: 100px; height: 40px; display: flex; flex-direction: column; gap: 3px; justify-content: center; align-items: center; text-align: center;">
                        <div th:text="${p.totalDamageTaken}" style="width: 100%; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            dealt
                        </div>
                        <div style="width: 80%; height: 15px; background: #eee; border-radius: 5px; overflow: hidden;">
                            <div th:style="'width:' + ${#numbers.formatDecimal(p.takenPercent, 0, 0)} + '%; height:100%; height: 100%; background:#3a3;'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%; height: 50px; background-color: white; display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; border: 1px solid #d7d8da;">
                <div style="width: 100px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">블루팀</div>
                <div th:with="blueTeam=${match.info.teams.?[teamId == 100][0]}" th:classappend="${blueTeam.win} ? ' win-status' : ' lose-status'"
                     style="width: 100px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <span th:text="${blueTeam.win} ? '승리' : '패배'">승패</span>
                </div>
            </div>
            <div style="width: 100%; height: 50px; background-color: white; display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; border: 1px solid #d7d8da;">
                <div style="width: 100px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">레드팀</div>
                <div th:with="redTeam=${match.info.teams.?[teamId == 200][0]}" th:classappend="${redTeam.win} ? 'win-status' : 'lose-status'"
                     style="width: 100px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <span th:text="${redTeam.win} ? '승리' : '패배'">승패</span>
                </div>
            </div>
            <div style="width: 100%; min-height: 50px; background-color: white; display: flex; flex-direction: column; align-items: center; border: 1px solid #d7d8da;">
                <div class="match-participant" th:each="p : ${match.info.participants.?[teamId == 200]}" th:onclick="|location.href='@{/kr/search(query=${p.riotIdGameName + '#' + p.riotIdTagline})}'|" style="width: 100%; height: 50px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; border-bottom: 1px solid #d7d8da; cursor: pointer;">
                    <div style="width: 40px; height: 40px; border-radius: 4px; display: flex; align-items: center; justify-content: center; margin-left: 8px;">
                        <img th:src="@{/image/champion/{champ}(champ=${p.championId})}" th:alt="${p.championName}" style="width: 100%; height: 100%; border-radius: 4px;" />
                    </div>

                    <div th:text="${p.riotIdGameName}" th:onclick="|location.href='@{/kr/search(query=${p.riotIdGameName + '#' + p.riotIdTagline})}'|" style="width: 120px; height: 40px; display: flex; justify-content: center; align-items: center; text-align: center; font-size: 14px;">
                        아이디
                    </div>

                    <div style="width: 90px; height: 40px; display: flex; flex-direction: row; align-items: center; justify-content: center; text-align: center;">
                        <div class="participant-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center; margin-left: 5px;">
                            <img th:each="spell, stat : ${p.getSummonerIdList()}"
                                 th:if="${stat.index < 2}"
                                 th:src="@{/image/spell/{spellId}(spellId=*{spell})}"
                                 th:alt="스펠"
                                 class="item"
                                 style="width: 40px; height: 40px; border-radius: 3px;"/>
                        </div>
                    </div>

                    <div th:text="${p.champLevel}" style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; text-align: center; font-size: 14px;">
                        레벨
                    </div>

                    <div style="width: 80px; height: 40px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
                        <span th:text="${p.kdaAvg}" style="width: 100%; height: 35px; display: flex; justify-content: center; align-items: end; font-size: 16px; font-weight: 600;">K/D/A Avg</span>
                        <span th:text="${p.kda}" style="width: 100%; height: 35px; font-size: 14px; font-weight: 500;">K/D/A</span>
                    </div>

                    <div style="width: 240px; height: 40px; border-radius: 4px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <div class="item-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center;">
                            <img th:each="item, stat : ${p.getItemList()}"
                                 th:if="${stat.index < 6}"
                                 th:src="@{/image/item/{itemId}(itemId=${item})}"
                                 th:alt="아이템"
                                 class="item"
                                 style="width: 35px; height: 35px; border-radius: 10px;"/>
                        </div>
                    </div>

                    <div style="width: 90px; height: 40px; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; text-align: center;">
                        <div th:text="${'CS ' + p.totalMinionsKilled}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 400;" />
                        <div th:text="${'Gold ' + p.getGoldEarned()}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 700;" />
                    </div>

                    <div style="width: 100px; height: 40px; display: flex; flex-direction: column; gap: 3px; justify-content: center; align-items: center; text-align: center;">
                        <div th:text="${p.totalDamageDealtToChampions}" style="width: 100%; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            dealt
                        </div>
                        <div style="width: 80%; height: 15px; background: #eee; border-radius: 5px; overflow: hidden;">
                            <div th:style="'width:' + ${#numbers.formatDecimal(p.dealtPercent, 0, 0)} + '%; height:100%; height: 100%; background:#d33;'">
                            </div>
                        </div>
                    </div>
                    <div style="width: 100px; height: 40px; display: flex; flex-direction: column; gap: 3px; justify-content: center; align-items: center; text-align: center;">
                        <div th:text="${p.totalDamageTaken}" style="width: 100%; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            dealt
                        </div>
                        <div style="width: 80%; height: 15px; background: #eee; border-radius: 5px; overflow: hidden;">
                            <div th:style="'width:' + ${#numbers.formatDecimal(p.takenPercent, 0, 0)} + '%; height:100%; height: 100%; background:#3a3;'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="matchDetailArena(match)">
    <div class="match-detail">
        <div><strong>아레나 매치 ID:</strong> <span th:text="${match.metadata.matchId}"/></div>
        <div><strong>게임 모드:</strong> <span th:text="${match.info.queueType}"/></div>
        <div><strong>플레이어 K/D/A:</strong> <span th:text="${match.kda}"/></div>
        <div><strong>골드:</strong> <span th:text="${match.player.goldEarned}"/></div>
    </div>
</div>

</body>
</html>