<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="header">
    <div class="container" style="width: 100%; height: 50px; display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: flex-end;">
        <div style="width: 100px; height: 40px;">
            <a th:href="@{/}">
                <img th:src="@{/imgs/mygg.png}" alt="logo" style="width:100%; height:100%; object-fit: contain;">
            </a>
        </div>
        <form method="get" th:action="@{/kr/search}" style="width: 500px; height: 40px; display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: center;">
            <div style="width: 430px; height: 30px;">
                <input class="form-control" type="text" name="query" th:value="${param.query}" placeholder="플레이어 검색" style="width: 100%; height: 30px;">
            </div>
            <div style="width: 60px; height: 30px;">
                <button class="btn btn-outline-primary" type="submit" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">검색</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>