<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .entry-item {
            transition: background-color 0.2s ease;
            background-color: transparent;
        }
        .entry-item:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<div th:replace="common/fragments :: header"></div>
<div class="row justify-content-center align-items-start" style="width: 100%; min-height: 800px; padding-top: 10px; gap:10px;">
    <div class="col-md-2" style="min-height: 100px; border-radius: 10px; background-color: white; border: solid 1px rgba(0, 0, 0, 0.17); padding-bottom: 4px;">
        <div th:replace="common/fragments :: leagueList(leagueItemList = ${leagueItemList}, title = '소환사 랭킹' , subTitle = '챌린저 리그')"></div>
    </div>
    <div class="col-md-4" style="width: 1000px; min-height: 800px; border-radius: 10px; background-color: white; border: solid 1px rgba(0, 0, 0, 0.17); display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; padding-top: 12px; padding-bottom: 12px; gap: 10px;">
        <div style="width: 100%; min-height: 100px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; border-radius: 8px;">
            <div style="width: 49%; min-height: 100px; border-radius: 10px; display: flex; flex-direction: column; background-color: #f8f3f4; padding: 6px;">
                <div th:replace="common/fragments :: rankingList(list = ${dailyWinRateList}, title = '일간 순위' , subTitle = '경기 수')"></div>
            </div>
            <div style="width: 49%; min-height: 100px; border-radius: 10px; display: flex; flex-direction: column; background-color: #ecf3ec; padding: 6px;">
                <div th:replace="common/fragments :: rankingList(list = ${weeklyWinRateList}, title = '주간 순위' , subTitle = '경기 수')"></div>
            </div>
        </div>
        <div style="width: 100%; min-height: 100px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; border-radius: 8px; gap: 10px;">
            <div th:replace="common/fragments :: rotationChampions(rotationChampions=${freeChampion}, title='- 로테이션 챔피언')"></div>
            <div th:replace="common/fragments :: rotationChampions(rotationChampions=${freeChampionForN}, title='- 로테이션 챔피언( < 10Lv)')"></div>
        </div>
    </div>
    <div class="col-md-2" style="min-height: 100px; border-radius: 10px; background-color: white; border: solid 1px rgba(0, 0, 0, 0.17);">
        <div th:replace="common/fragments :: recentSearch(recentSearchList = ${recentSearch})"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>