<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>LeagueList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <script async th:src="@{'https://www.googletagmanager.com/gtag/js?id=' + ${@environment.getProperty('google.analytics.tracking-id')}}"></script>
    <script th:inline="javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', /*[[${@environment.getProperty('google.analytics.tracking-id')}]]*/);
    </script>

    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .entry-item {
            transition: background-color 0.2s ease;
            background-color: transparent;
        }
        .entry-item:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<div th:replace="common/fragments :: header"></div>
<div class="row justify-content-center align-items-start" style="width: 100%; min-height: 800px; padding-top: 10px; gap:10px;">
    <div class="col-md-2" style="min-height: 100px; border-radius: 10px; padding-bottom: 4px;">
    </div>
    <div class="col-md-4" style="width: 1000px; min-height: 800px; border-radius: 10px; background-color: white; border: solid 1px rgba(0, 0, 0, 0.17); display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 12px; padding-bottom: 12px; gap: 10px;">
        <div style="width: 100%; min-height: 30px; font-size: 14px; font-weight: 400; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 4px;">
            <div style="width: 100%; height: 40px; display: flex; justify-content: center; align-items: center;">
                <span th:text="'리그 랭킹'" style="font-size: 22px; font-weight: 600;">league</span>
                <span th:text="'(공사중)'" style="font-size: 14px;"></span>
            </div>
            <div style="width: 125px; height: 125px;">
                <img th:src="@{/imgs/teemo_b.png}" style="width: 100%; height: 100%; border-radius: 10px;">
            </div>
        </div>
    </div>
    <div class="col-md-2" style="min-height: 100px; border-radius: 10px;">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>