<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .win-match {
            background-color: #d4edda;
        }
        .lose-match {
            background-color: #f8d7da;
        }
        .player-highlight {
            border: 2px solid #1aff00;
        }
    </style>
</head>
<body>
<div th:replace="common/fragments :: header"></div>
<div style="width: 100%; min-height: 800px; display: flex; flex-direction: row; justify-content: center; align-items: center; padding-top: 10px;">
    <div style="width: 1000px; min-height: 1200px; padding: 12px; background-color: white; border: solid 1px rgba(0, 0, 0, 0.17); border-radius: 10px; display: flex; flex-direction: column; align-items: center; justify-content: start;">
        <div style="width: 960px; height: 300px; display: flex; flex-direction: column; align-items: start; justify-content: start;">
            <div style="width: 100%; height: 140px; display: flex; flex-direction: row;">
                <div style="width: 125px; height: 125px; border-radius: 10px;">
                    <img th:src="@{/image/profile/{iconId}(iconId=${search.summoner.getProfileIconId()})}" style="width: 100%; height: 100%; border-radius: 10px;">
                </div>
                <div style="width: 775px; height: 125px; display: flex; flex-direction: column; align-items: start; justify-content: start; padding-left: 16px;">
                    <div style="width: 100%; height: 100%;">
                        <span th:text="${search.account.gameName}" style="font-size: 26px; font-weight: 700;"></span>
                        <span th:text="${'#' + search.account.tagLine}" style="font-size: 16px; font-weight: 400;"></span><br/>
                        <span th:text="${'레벨: ' + search.summoner.summonerLevel}" style="font-size: 13px; font-weight: 500;"></span>
                    </div>
                    <div style="width: 100%; height: 100%; display: flex; flex-direction: row; align-items: center; justify-content: start;">
                        <button class="btn btn-outline-secondary" style="width: 80px; height: 35px; font-size: 14px; font-weight: 400; white-space: nowrap; border: none; background-color: #eff1f3; color: black;">전적갱신</button>
                        <span th:text="${'마지막 갱신일: '}" style="font-size: 12px; font-weight: 400; padding-left: 12px;"></span>
                    </div>
                </div>
            </div>
            <div style="width:100%; height:150px; display:flex; align-items:center; justify-content:center;">
                <div th:replace="common/fragments :: rank(leagueEntry = ${search.leagueEntrySet.?[queueType=='RANKED_SOLO_5x5']}, title = '랭크 개인/2인')"></div>
                <div th:replace="common/fragments :: rank(leagueEntry = ${search.leagueEntrySet.?[queueType=='RANKED_FLEX_SR']}, title = '랭크 자유 대전')"></div>
            </div>
        </div>
        <div style="width: 960px; height: 150px;">
            <div th:each="match : ${search.matchList}"
                 th:classappend="${match.win} ? ' win-match' : ' lose-match'"
                 class="match-item" style="width: 100%; height: 80px; display: flex; flex-direction: row; padding: 5px;">
                <div style="width: 75px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin-right: 5px; border-right: 1px solid black;" >
                    <span th:text="${match.win} ? '승리' : '패배'" style="font-size: 14px; font-weight: 600;"></span>
                    <span th:text="${match.info.getQueueType()}" style="font-size: 12px; font-weight: 500;"></span>
                </div>

                <div class="my-champ" style="width: 70px; height: 70px; margin-right: 5px;">
                    <img th:src="@{${match.championImgUrl}}"
                         th:alt="${match.player.championName}"
                         style="width:100%; height:100%; border-radius:10px;" />
                </div>

                <div style="width: 140px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black;">
                    <span th:text="${match.kdaAvg}" style="width: 100%; height: 30px; display: flex; justify-content: center; align-items: end; font-size: 16px; font-weight: 600;">K/D/A Avg</span>
                    <span th:text="${match.kda}" style="width: 100%; height: 30px; line-height: 30px; font-size: 16px; font-weight: 500;">K/D/A</span>
                </div>

                <div style="width: 140px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black;">
                    <div class="participant-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center; margin-left:20px;">
                        <img th:each="item, stat : ${match.player.getItemList()}"
                             th:if="${stat.index < 6}"
                             th:src="@{/image/item/{itemId}(itemId=${item})}"
                             th:alt="아이템"
                             class="item"
                             style="width: 30px; height: 30px; border-radius: 10px;"/>
                    </div>
                </div>

                <div style="width: 40px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
                    <div class="participant-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center; margin-left: 5px;">
                        <img th:each="spell, stat : ${match.player.getSummonerIdList()}"
                             th:if="${stat.index < 2}"
                             th:src="@{/image/spell/{spellId}(spellId=*{spell})}"
                             th:alt="스펠"
                             class="item"
                             style="width: 30px; height: 30px; border-radius: 10px;"/>
                    </div>
                </div>

                <div style="width: 210px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black;">
                    <div class="participant-list" style="display:flex; flex-wrap: wrap; gap: 5px; align-items:center; margin-left:20px;">
                        <img th:each="imgInfo, stat : ${match.participantChampionImgList}"
                             th:if="${stat.index < 10}"
                             th:src="@{${imgInfo.url}}"
                             th:alt="챔피언"
                             class="participant-champ"
                             th:classappend="${imgInfo.player}? ' player-highlight' : ''" style="width: 30px; height: 30px; border-radius: 10px;"/>
                    </div>
                </div>

                <div style="width: 90px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black;">
                    <div th:text="${'CS ' + match.player.totalMinionsKilled}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 400;" />
                    <div th:text="${'Gold ' + match.player.getGoldEarned()}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 700;" />
                    <div th:text="${'시야 ' + match.player.visionScore + '/' + match.player.visionWardsBoughtInGame}" style="width: 100%; height: 20px; font-size: 14px; font-weight: 400;" />
                </div>

                <div style="width: 110px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black; border-right: 1px solid black; line-height: 70px;">
                    <div th:text="${match.info.getGameDuration()}" style="width: 100%; height: 100%;"></div>
                </div>

                <div style="width: 60px; height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; border-left: 1px solid black; margin-left: auto; background-color: red;">
                </div>
            </div>
        </div>
    </div>
</div>

<div th:each="recent : ${recentSearch}">
    <span th:text="${recent}"></span>
</div>

<pre th:text="${searchJson}">
</pre>
</body>
</html>