<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        /* number input */
            /* Chrome, Safari, Edge, Opera */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
            /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
        /* number input */
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href=@{/}>Home</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link login" th:href=@{/login}>login</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:href=@{/} id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href=@{/}>Action</a>
                    <a class="dropdown-item" th:href=@{/}>Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href=@{/}>Something else here</a>
                </div>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="number" id="postId" name="postId" placeholder="Enter post ID" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" th:onclick="goToPost()">Search</button>
            <input class="form-control mr-sm-2" type="text" id="advName" name="advName" placeholder="Enter LOA ID" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" th:onclick="goToAdv()">Search</button>
        </div>
    </div>
</nav>

<script>
    function goToPost() {
        var postId = document.getElementById('postId').value;
        if(postId) {
            window.location.href = '/jsph/' + postId;
        }
    }

    function goToAdv() {
        var advName = document.getElementById('advName').value;
        if(advName) {
            window.location.href = '/loa/adventurer/' + advName;
        }
    }
</script>
</body>
</html>